* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(219, 43, 219);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgb(11, 133, 11);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(6, 48, 6);
}

.page1-container1 {
	background: linear-gradient(-45deg, #c6ffdd, #fbd786, #f7797d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	background-attachment: fixed;
	min-height: 100vh;
}

.dashboard-page {
	background: linear-gradient(-45deg, #c6ffdd, #fbd786, #f7797d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	background-attachment: fixed;
	min-height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.page1-navbar li {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1.5px;
}

.page1-navbar .navtitle,
.page1-bot-cont .navtitle {
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1.5px;
	background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200% auto;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: hue 10s infinite linear;
}

@keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

.page1-navbar button {
	font-size: 1.3rem;
	border-radius: 8px;
	font-weight: 500;
	background-color: rgba(13, 170, 190, 0.664);
}

.page1-navbar ul {
	margin: 0 50px;
}

.navbar-logo {
	height: 40px;
	width: 40px;
	margin: 10px 30px 0 0;
}

.page1-container2 {
	display: flex;
	min-height: 500px;
	width: 100vw;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.page1-cont2-head {
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 1.5px;
	color: rgb(47, 10, 73);
	margin: 100px 0 10px 0;
}

.page1-cont2-sec1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.boil_text {
	height: 93.52px;
	transition: 0.5s;
	overflow: hidden;
}

.big_div {
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heading2-page1 {
	font-family: "Poppins", sans-serif;
	font-size: 3rem;
	font-weight: 700;
	text-align: left;
	color: #064427;
	margin-top: 20px;
	letter-spacing: 1px;
	transition: 0.5s;
}

.heading3-page1,
.heading4-page1 {
	margin: 5px 0 0 0;
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: 1.5px;
}

.get-started {
	margin: 70px auto 0 0;
	font-size: 1.6rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 300px;
	font-weight: 600;
}

.meet-img {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	margin: 120px 0 0 70px;
}

.swiper-container {
	height: 500px;
	width: 95%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 150px 0 0 0;
}

.cards-image {
	text-align: center;
	margin: 50px 0 0 0;
}

.cards-content {
	text-align: center;
	margin: 30px 0 0 0;
	font-size: 2rem;
	font-weight: 700;
	color: white;
}

.page1-bot-cont {
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 120px 0 0 0;
}

.bot-cont1 {
	display: flex;
	flex: 1;
	height: 200px;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.bot-cont2 {
	display: flex;
	flex: 1.3;
	height: 200px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: yellowgreen;
	letter-spacing: 1.2px;
}

.bot-cont3 {
	display: flex;
	flex: 1;
	height: 200px;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.5px;
}

.botcont-logo {
	height: 80px;
	width: 80px;
}

.vert-line {
	height: 80px;
	background-color: white;
	width: 3px;
	margin: 0 20px;
}

.register-page,
.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background: #16222A;
	background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
	background: linear-gradient(to bottom, #3A6073, #16222A);
	background-attachment: fixed;
}

.sign-up-form,
.login-form {
	background-attachment: fixed;
	background: #603813;
	background: -webkit-linear-gradient(to bottom, #b29f94, #603813);
	background: linear-gradient(to bottom, #b29f94, #603813);
	width: 500px;
	padding: 50px;
}

.sign-up-submit,
.login-submit {
	font-size: 1.3rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 150px;
	font-weight: 500;
}

.sign-up-submit,
.login-submit {
	font-size: 1.3rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 150px;
	font-weight: 500;
}

.sign-up-submit,
.login-submit {
	font-size: 1.3rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 150px;
	font-weight: 500;
}

.verification-button,
.confirm-veri-button {
	font-size: 1.1rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 260px;
	font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.dashboard-cont1 {
	margin: 100px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dashboard-intro {
	display: flex;
	min-width: 50vw;
	flex-direction: column;
	font-size: 4rem;
	font-weight: 700;
}

.dashboard-cube {
	margin: 0 100px 0 0;
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	font-weight: 700;
}

.create-but {
	margin: 30px 0 0 0;
	font-size: 1.2rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 240px;
	height: 50px;
	font-weight: 500;
}

.join-but {
	margin: 0 0 0 45px;
	font-size: 1.2rem;
	background-color: #6a1a7e;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-weight: 500;
}

.dashboard-button {
	margin: 30px 20px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.dashboard-join {
	margin: 10px 0 0 50px;
	display: flex;
	flex-direction: column;
}

.join-input {
	display: flex;
}

.cube__section {
	display: flex;
	justify-content: center;
	width: 60%;
}

.cube {
	height: 20rem;
	perspective: 60rem;
	width: 20rem;
}

.cube__container {
	animation: rotationBox 25s linear infinite forwards;
	height: 100%;
	position: relative;
	transform: translateZ(-10rem);
	transform-style: preserve-3d;
	width: 100%;
}

.cube__face {
	align-items: center;
	background-color: #eee;
	display: flex;
	height: 20rem;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	width: 20rem;
}

.cube__face--front {
	transform: rotateY(0deg) translateZ(10rem);
}

.cube__face--back {
	transform: rotateY(180deg) translateZ(10rem);
}

.cube__face--left {
	transform: rotateY(-90deg) translateZ(10rem);
}

.cube__face--right {
	transform: rotateY(90deg) translateZ(10rem);
}

.cube__face--top {
	transform: rotateX(90deg) translateZ(10rem);
}

.cube__face--bottom {
	transform: rotateX(-90deg) translateZ(10rem);
}

.video__container {
	height: auto;
	min-height: 100%;
	object-fit: cover;
	width: 100%;
}

@keyframes rotationBox {
	0% {
		transform: rotate3d(0, 0, 0, 0deg);
	}

	25% {
		transform: rotate3d(0, 1, 1, 90deg);
	}

	50% {
		transform: rotate3d(1, 0, 1, 180deg);
	}

	75% {
		transform: rotate3d(1, 1, 0, 240deg);
	}

	100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

.get-touch {
	margin: 15px 0 0 0;
	letter-spacing: 1.5px;
	font-size: 1.5rem;
	color: rgb(8, 66, 8);
	font-weight: 700;
}

.separator {
	margin-top: 7vh;
	margin-bottom: 7vh;
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

@-webkit-keyframes separator-width {
	0% {
		width: 0;
	}

	100% {
		width: 10%;
	}
}

@keyframes separator-width {
	0% {
		width: 0;
	}

	100% {
		width: 10%;
	}
}

.separator-dotter {
	border: 0;
	border-bottom: 1.5vh dotted #045255;
	width: 0;
	-webkit-animation: separator-width 1s linear forwards;
	animation: separator-width 1s linear forwards;
}

.saved-coderences {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-left: 50px;
}

.save-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	color: black;
}

.hor-line {
	margin-top: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 500px;
	height: 2px;
	background-color: black;
}

.saved-cards {
	margin-top: 50px;
	width: 100%;
	min-height: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.user-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 250px;
	position: relative;
	width: 300px;
	background-color: #f2f8f9;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
}

.user-card:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -16px;
	background: #00838d;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;
	transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.user-card:hover::before {
	-webkit-transform: scale(30);
	transform: scale(30);
}

.user-card:hover span {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: rgba(255, 255, 255, 0.8);
}

.default-card-head,
.card-head,
.default-card-date,
.card-date {
	font-weight: 600;
	font-size: 1rem;
	color: black;
}

.go-corner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	width: 32px;
	height: 32px;
	overflow: hidden;
	top: 0;
	right: 0;
	background-color: #00838d;
	border-radius: 0 4px 0 32px;
}

.go-arrow {
	margin-top: -4px;
	margin-right: -4px;
	color: white;
	font-family: courier, sans;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	background-color: black;
	/*background: #232526;
	background: -webkit-linear-gradient(to top, #414345, #232526);
	background: linear-gradient(to top, #414345, #232526);*/
}

.icon-loader {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#00FF00, #00FF00, #00FF00);
	animation: animate 1s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.icon-loader span {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(#00b2ff, #00ffbb, #6bff6b);
}

.icon-loader span:nth-child(1) {
	filter: blur(5px);
}

.icon-loader span:nth-child(2) {
	filter: blur(10px);
}

.icon-loader::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #162434;
	border-radius: 50%;
}

rect {
	fill: none;
	pointer-events: all;
}

circle {
	fill: none;
	stroke-width: 1px;
}

.spinner-container {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
}

.spinner-container .spinner {
	font-size: 4rem
}

.spinner-container .spinner__leter {
	font-weight: light;
	position: relative;
	color: rgba(255, 255, 255, 0.25);
	text-transform: uppercase
}

.spinner-container .spinner__leter:before {
	content: attr(letter);
	position: absolute;
	top: 5;
	left: 0;
	color: rgb(35, 204, 204);
	animation: load-animation 2.8s infinite;
	animation-fill-mode: backwards;
	text-transform: uppercase
}

.spinner-container .spinner__leter:nth-child(2):before {
	animation-delay: .4s
}

.spinner-container .spinner__leter:nth-child(3):before {
	animation-delay: .8s
}

.spinner-container .spinner__leter:nth-child(4):before {
	animation-delay: 1.2s
}

.spinner-container .spinner__leter:nth-child(5):before {
	animation-delay: 1.6s
}

.spinner-container .spinner__leter:nth-child(6):before {
	animation-delay: 2s
}

.spinner-container .spinner__leter:nth-child(7):before {
	animation-delay: 2.4s
}

.spinner-container .spinner__leter:nth-child(8):before {
	animation-delay: 2.8s
}

.spinner-container .spinner__leter:nth-child(9):before {
	animation-delay: 3.2s
}

.spinner-container .spinner__leter:nth-child(10):before {
	animation-delay: 3.6s
}

@keyframes load-animation {

	0%,
	80%,
	to {
		transform: rotateY(-90deg);
		opacity: 0
	}

	5% {
		opacity: .5
	}

	20%,
	50% {
		transform: rotateY(0);
		opacity: 1
	}
}